<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>OptiCost Application</title>
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{css/style.css}" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <div class="input-part col-md-4" id="form-container">
        <div>
            <h3>Plan</h3>
            <select class="form-control" id="plan-name">
                <option value="new">New Plan</option>
            </select>
            <div class="form-row plan-input">
                <div class="form-group col-md-12">
                    <label for="planName">Name</label>
                    <input type="text" class="form-control" id="planName">
                </div>
                <button class="btn btn-primary add" id="savePlanName">Save</button>
            </div>
            <table id="showPlan">

            </table>
        </div>
        <div id="verticesEdges">
            <hr>
            <div>
                <h3>Add Vertices</h3>
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label for="inputCityName">City name</label>
                        <input type="text" class="form-control" id="inputCityName">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputX">Coord X</label>
                        <input type="number" class="form-control" id="inputX">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputY">Coor Y</label>
                        <input type="number" class="form-control" id="inputY">
                    </div>
                    <button class="btn btn-primary add" id="addCityBtn">Add</button>
                </div>
                <table id="showCities" class="col-md-12">

                </table>
                <button class="btn btn-primary save" id="saveCities">Save</button>
            </div>
            <hr>
            <div>
                <h3>Add Edges</h3>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="fromCity">From</label>
                        <select class="form-control" id="fromCity">
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="toCity">To</label>
                        <select class="form-control" id="toCity">
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputCap">Capacity</label>
                        <input type="number" min="0" class="form-control" id="inputCap">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputPrice">Price</label>
                        <input type="number" min="0" class="form-control" id="inputPrice">
                    </div>
                    <button class="btn btn-primary add" id="addRoad">Add</button>
                </div>
                <table id="showRoads" class="col-md-12">

                </table>
                <button class="btn btn-primary save" id="saveRoad">Save</button>
            </div>
        </div>
        <hr>
        <div>
            <h3>Upload file</h3>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="graphFile">File</label>
                    <input type="file" id="graphFile">
                </div>
            </div>

            <button class="btn btn-primary save" id="processFile">Process file</button>
        </div>
        <hr>
        <div>
            <h3>Multicost</h3>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="fromCityRun">From</label>
                    <select class="form-control" id="fromCityRun">
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="toCityRun">To</label>
                    <select class="form-control" id="toCityRun">
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputCap">Capacity</label>
                    <input type="number" min="0" class="form-control" id="cargo">
                </div>
            </div>
            <button class="btn btn-primary save" id="runMulticost">Run multicost</button>
            <div></div>
        </div>
    </div>
    <div class="col-md-8" id="draw-container">
        <!--<div class="map-container" id="sigma-container">-->
        <!--<img class="map" th:src="@{img/bg_big.svg}" alt="Map of Bulgaria">-->
        <!--</div>-->
        <div id="sigma-container"></div>
    </div>
    <div class="col-md-8">
        <h2 id="min-cost-result"></h2>
    </div>
</div>

</body>
<script th:src="@{js/sigma/src/sigma.core.js}"></script>
<script th:src="@{js/sigma/src/conrad.js}"></script>
<script th:src="@{js/sigma/src/utils/sigma.utils.js}"></script>
<script th:src="@{js/sigma/src/utils/sigma.polyfills.js}"></script>
<script th:src="@{js/sigma/src/sigma.settings.js}"></script>
<script th:src="@{js/sigma/src/classes/sigma.classes.dispatcher.js}"></script>
<script th:src="@{js/sigma/src/classes/sigma.classes.configurable.js}"></script>
<script th:src="@{js/sigma/src/classes/sigma.classes.graph.js}"></script>
<script th:src="@{js/sigma/src/classes/sigma.classes.camera.js}"></script>
<script th:src="@{js/sigma/src/classes/sigma.classes.quad.js}"></script>
<script th:src="@{js/sigma/src/classes/sigma.classes.edgequad.js}"></script>
<script th:src="@{js/sigma/src/captors/sigma.captors.mouse.js}"></script>
<script th:src="@{js/sigma/src/captors/sigma.captors.touch.js}"></script>
<script th:src="@{js/sigma/src/renderers/sigma.renderers.canvas.js}"></script>
<script th:src="@{js/sigma/src/renderers/sigma.renderers.webgl.js}"></script>
<script th:src="@{js/sigma/src/renderers/sigma.renderers.svg.js}"></script>
<script th:src="@{js/sigma/src/renderers/sigma.renderers.def.js}"></script>
<script th:src="@{js/sigma/src/renderers/canvas/sigma.canvas.labels.def.js}"></script>
<script th:src="@{js/sigma/src/renderers/canvas/sigma.canvas.hovers.def.js}"></script>
<script th:src="@{js/sigma/src/renderers/canvas/sigma.canvas.nodes.def.js}"></script>
<script th:src="@{js/sigma/src/renderers/canvas/sigma.canvas.edges.def.js}"></script>
<script th:src="@{js/sigma/src/renderers/canvas/sigma.canvas.edges.curve.js}"></script>
<script th:src="@{js/sigma/src/renderers/canvas/sigma.canvas.edges.arrow.js}"></script>
<script th:src="@{js/sigma/src/renderers/canvas/sigma.canvas.edges.curvedArrow.js}"></script>
<script th:src="@{js/sigma/src/renderers/canvas/sigma.canvas.edgehovers.def.js}"></script>
<script th:src="@{js/sigma/src/renderers/canvas/sigma.canvas.edgehovers.curve.js}"></script>
<script th:src="@{js/sigma/src/renderers/canvas/sigma.canvas.edgehovers.arrow.js}"></script>
<script th:src="@{js/sigma/src/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js}"></script>
<script th:src="@{js/sigma/src/renderers/canvas/sigma.canvas.extremities.def.js}"></script>
<script th:src="@{js/sigma/src/middlewares/sigma.middlewares.rescale.js}"></script>
<script th:src="@{js/sigma/src/middlewares/sigma.middlewares.copy.js}"></script>
<script th:src="@{js/sigma/src/misc/sigma.misc.animation.js}"></script>
<script th:src="@{js/sigma/src/misc/sigma.misc.bindEvents.js}"></script>
<script th:src="@{js/sigma/src/misc/sigma.misc.bindDOMEvents.js}"></script>
<script th:src="@{js/sigma/src/misc/sigma.misc.drawHovers.js}"></script>
<!-- Sigma plugins -->
<script th:src="@{js/sigma/plugins/sigma.layout.forceAtlas2/supervisor.js}"></script>
<script th:src="@{js/sigma/plugins/sigma.layout.forceAtlas2/worker.js}"></script>
<script th:src="@{js/sigma/plugins/sigma.renderers.parallelEdges/utils.js}"></script>
<script th:src="@{js/sigma/plugins/sigma.renderers.parallelEdges/sigma.canvas.edges.curvedArrow.js}"></script>
<script th:src="@{js/sigma/plugins/sigma.renderers.parallelEdges/sigma.canvas.edgehovers.curvedArrow.js}"></script>
<script th:src="@{js/sigma/plugins/sigma.renderers.parallelEdges/sigma.canvas.edgehovers.curve.js}"></script>
<script th:src="@{js/sigma/plugins/sigma.renderers.parallelEdges/sigma.canvas.edges.labels.curve.js}"></script>
<script th:src="@{js/sigma/plugins/sigma.renderers.edgeLabels/settings.js}"></script>
<script th:src="@{js/sigma/plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.def.js}"></script>
<script th:src="@{js/sigma/plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.curve.js}"></script>
<script th:src="@{js/sigma/plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.curvedArrow.js}"></script>

<script th:src="@{js/jquery/jquery-3.3.1.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
<script th:src="@{js/notify/bootstrap-notify.min.js}"></script>

<script th:src="@{js/script.js}"></script>
</html>